body{
    margin: 0;
    display: flex;
    flex-direction: column; /* Keeps the title above the game */
    align-items: center;    /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    min-height: 100vh;      /* Makes the body take up the full screen height */
    overflow: hidden;       /* Prevents accidental scrollbars */
    background-color: rgb(41, 41, 41);
}

/*cannon area*/
#cannonRing {
    position: relative;     /* Allows internal elements to be positioned relatively */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border stuff*/
    border-radius: 25px;
    padding: 50px;
}

/* cannon sidebar stuff */
.sidebar {
    position: absolute;
    display: flex;
    gap: 15px;
    z-index: 1;
}

.verticalSidebar {
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%); /*keeps them centered horizontally*/
} 

.horizontalSidebar {
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%); /*keeps them centered vertically*/
}

#cannonSidebarTop {top: 0; }
#cannonSidebarBottom {bottom: 0; }
#cannonSidebarLeft {left: 0; }
#cannonSidebarRight {right: 0; }

#cannonSidebarTop .cannon { transform: rotate(90deg); }
#cannonSidebarBottom .cannon { transform: rotate(-90deg); }

/* user's playable area */
.playableArea {
    /*Playable area*/
    position: relative;

    height: 750px;
    width: 750px;
    background-color: rgb(255,255,255);
    align-content: center;

    /* border stuff*/
    border: 5px solid rgb(41, 41, 41);
    border-radius: 25px;
    overflow: hidden;
}



.player{

    height: 50px;
    width: 50px;

    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 25px;
    position: absolute;

}

.spike {
    height: 50px;
    width: 50px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;

    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    
}

.bullet {
    height: 10px;
    width: 10px;
    background-color: rgb(78, 78, 78);

    border-radius: 50px;
    position: relative;

}

.cannon {

    height: 75px;
    width: 75px;
    background-image: url(/assets/cannon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;

}

.cannonFlipped {
    transform: scalex(-1);
    height: 75px;
    width: 75px;
    background-image: url(/assets/cannon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;

}
