.playableArea {
    /*Playable area*/
        height: 750px;
        width: 750px;
        background-color: rgb(255,255,255);
        align-content: center;

        /* border stuff*/
        border: 5px solid black;
        border-radius: 25px;
    }

 .player{

    height: 30px;
    width: 30px;
    background-color: black;

    border-radius: 50px;
    position: relative;

}

.spike {
    height: 50px;
    width: 50px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;

    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    
}