.playableArea {
    /*Playable area*/
        height: 750px;
        width: 750px;
        background-color: rgb(255,255,255);
        align-content: center;

        /* border stuff*/
        border: 5px solid black;
        border-radius: 25px;
    }